{% comment %}
  Renders a testimonial block.

  Accepts:
  - material: {String}
  - fit: {String}
  - care: {String}
  - origin: {String, optional}
{% endcomment %}

<div class="product-specifications">
  <p>Materials/Care</p>
  <table>
    <tbody>
      <tr>
        <th>Material</th>
        <td>{{ material }}</td>
      </tr>
      <tr>
        <th>Fit</th>
        <td>{{ fit }}</td>
      </tr>
      <tr>
        <th>Care</th>
        <td>{{ care }}</td>
      </tr>
      {% if origin %}
        <tr>
          <th>Origin</th>
          <td>{{ origin }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
