{% comment %}
  Renders product material and care snippet

  Accepts:
  - material_and_care: {String}
{% endcomment %}

{{ 'metafields.css' | asset_url | stylesheet_tag }}

<div class="product-material-and-care-container">
  <input id="collapsible" class="toggle" type="checkbox">
  <label class="product-material-and-care-container-toggle">Material and care</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p>
        {{ material_and_care }}
      </p>
    </div>
  </div>
</div>
