{% comment %}
  Renders product specs

  Accepts:
  - specs: {JSON}
{% endcomment %}

{{ 'metafields.css' | asset_url | stylesheet_tag }}

<div>
  {{ specs }}
  <label class="metafields-label">The Finer Details</label>
  <table>
    <tbody>
      {% for key in specs %}
        <tr>
          <th>{{ key | capitalize }}</th>
          <td>{{ parsed_specs[key] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
