{% comment %}
  Renders product material and care snippet

  Accepts:
  - material_and_care: {String}
{% endcomment %}

{{ 'metafields.css' | asset_url | stylesheet_tag }}

<div>
  <button type="button" class="product-material-and-care-toggle">
    <span>Material and care</span>
    <svg class="product-material-and-care-accordion-icon" viewBox="0 0 24 24" width="16" height="16">
      <path d="M6 9l6 6 6-6" stroke="currentColor" stroke-width="2" fill="none" />
    </svg>
  </button>
  <div class="product-material-and-care-content">
    <p>
      {{ material_and_care }}
    </p>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var button = document.querySelector(".product-material-and-care-toggle");

    if (button) {
      button.addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
  });
</script>
