{% comment %}
  Renders product material and care snippet

  Accepts:
  - material_and_care: {String}
{% endcomment %}

{{ 'metafields.css' | asset_url | stylesheet_tag }}

<button type="button" class="product-material-and-care-toggle">
  <span>Material and care</span>
  <img src="{{ 'icon-caret.svg' | asset_url }}" alt="" class="accordion-icon" width="20" height="20">
</button>
<div class="product-material-and-care-content">
  <p>
    {{ material_and_care }}
  </p>
</div>
