{% comment %}
  Renders product material and care snippet

  Accepts:
  - material_and_care: {String}
  - fit: {String}
  - care: {String}
  - origin: {String, optional}
{% endcomment %}

{{ 'metafields.css' | asset_url | stylesheet_tag }}

<div>
  <label class="metafields-label">Material</label>
  <table>
    <tbody>
      <tr>
        <th>Material</th>
        <td>{{ material }}</td>
      </tr>
      <tr>
        <th>Fit</th>
        <td>{{ fit }}</td>
      </tr>
      {% if origin %}
        <tr>
          <th>Origin</th>
          <td>{{ origin }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
