<div class="testimonial">
  {{ block.settings.text }}
</div>

{% stylesheet %}
  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Testimonial",
  "settings": [
    {
      "type": "text",
      "id": "customer_name",
      "label": "Customer name",
    },
    {
      "type": "inline_richtext",
      "id": "customer_testimonial",
      "label": "Customer testimonial"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Testimonial alignment",
      "default": "left",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "image_picker",
      "id": "customer_image",
      "label": "Customer image",
    },
  ],
  "presets": [
    {
      "name": "Testimonial",
      "settings": {
      }
    }
  ]
}

{% endschema %}
