<h2 class="{{ section.settings.heading_size }}" >{{ section.settings.heading }}</h2>

{% schema %}
  {
    "name": "Testimonials",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "Heading",
        "default": "Testimonials",
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "Heading size",
        "default": "h1",
        "options": [
          { "value": "h2", "label": "Small" },
          { "value": "h1", "label": "Medium" },
          { "value": "h0", "label": "Large" },
          { "value": "hxl", "label": "Extra large" },
          { "value": "hxxl", "label": "Extra extra Large" }
        ]
      },
      {
        "type": "inline_richtext",
        "id": "description",
        "label": "Description",
      },
      {
        "type": "select",
        "id": "description_style",
        "label": "Description style",
        "default": "body",
        "options": [
          { "value": "body", "label": "Body" },
          { "value": "subtitle", "label": "Subtitle" },
          { "value": "uppercase", "label": "Uppercase" },
        ]
      },
    ],
    "presets": [
      {"name": "Testimonials"}
    ],
  }
{% endschema %}