.metafields-label {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.size-chart-container {
  display: flex;
  justify-content: flex-end;
}

.size-chart-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
  color: #0075ff;
  text-decoration: none;
  font-weight: 500;
}


.product-material-and-care-container-toggle {
  all: unset; 
  background-color: #FFFFFF;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.5rem;
}
