.metafields-label {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.size-chart-container {
  display: flex;
  justify-content: flex-end;
}

.size-chart-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
  color: #0075ff;
  text-decoration: none;
  font-weight: 500;
}

.product-material-and-care-toggle {
  all: unset;
  background-color: #FFFFFF;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-bottom: 1px solid #ccc;
}

.product-material-and-care-content {
  padding: 4px 16px; 
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.product-material-and-care-content p{
  margin: 0;
  font-size: 1.4rem;
}

.product-material-and-care-toggle .product-material-and-care-accordion-icon {
  transition: transform 0.3s ease;
  transform-origin: center;
}

.product-material-and-care-toggle.active .product-material-and-care-accordion-icon {
  transform: rotate(180deg);
}