.testimonials {
  /* font-family: 'Playfair Display', serif; */
  padding-left: 24px;
  padding-right: 24px;
}

.testimonials h2 {
  font-family: inherit;
  margin: 0;
}

.header-small {
  font-size: 1.75rem;
  line-height: 1.4;
}

.header-medium {
  font-size: 2rem;
  line-height: 1.4;
}

.header-large {
  font-size: 2.5rem;
  line-height: 1.3;
}

.header-xlarge {
  font-size: 3rem;
  line-height: 1.2;
}

.header-xxlarge {
  font-size: 3.5rem;
  line-height: 1.1;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-body {
  font-size: 1.25rem;          
}

.text-subtitle {
  font-size: 1.5rem;    
  opacity: 0.8;
}

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.text-description {
  margin: 0
}

.testimonials-grid-wrapper {
  display: flex;
  justify-content: center;
}

.testimonials-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 2.5rem;
  width: 100%;
  max-width: 1200px;
  align-items: stretch;
}

@media (min-width: 768px) {
  .testimonials-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .testimonials-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}